<%% title "New <%= singular_name.titleize %>" %>

<%%= render :partial => 'form',:locals=>{:form_options=>{:url=>collection_url}} %>

<%- if action? :index -%>
<p><%%= link_to "Back to List", collection_url  %></p>
<%- end -%>
